@import '~@angular/material/theming';

@include mat-core();

$bit-primary-colors: (
    50 : #e0f5f2,
    100 : #b3e5dd,
    200 : #80d4c7,
    300 : #4dc3b1,
    400 : #26b6a0,
    500 : #00a98f,
    600 : #00a287,
    700 : #00987c,
    800 : #008f72,
    900 : #007e60,
    A100 : #acffe7,
    A200 : #79ffd9,
    A400 : #46ffca,
    A700 : #2cffc3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$bit-secundary-colors: (
    50 : #e0edeb,
    100 : #b3d3ce,
    200 : #80b6ad,
    300 : #4d988c,
    400 : #268274,
    500 : #006c5b,
    600 : #006453,
    700 : #005949,
    800 : #004f40,
    900 : #003d2f,
    A100 : #73ffd6,
    A200 : #40ffc8,
    A400 : #0dffb9,
    A700 : #00f2ac,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$bit-warn-colors: (
    50 : #fbe3ea,
    100 : #f5b8cb,
    200 : #ee89a8,
    300 : #e75a85,
    400 : #e1366b,
    500 : #dc1351,
    600 : #d8114a,
    700 : #d30e40,
    800 : #ce0b37,
    900 : #c50627,
    A100 : #ffeef0,
    A200 : #ffbbc4,
    A400 : #ff8897,
    A700 : #ff6f81,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


// Customizable colors
$color-primary: map-get($bit-primary-colors , 500 );
$color-secondary: map-get($bit-secundary-colors , 500 );

$color-white:#FFFFFF;
$color-black:#000000;

// state colors
$color-warning: #FAA41A;
$color-success: #0EE1A2;
$color-danger: #DC1351;
$color-highlighted:#772583;
$color-info:#005587;
$color-disabled: mix($color-black, white, 10%);

// Alternative apha - Colors 
$color-primary-alt-80: mix($color-primary, white, 80%);
$color-primary-alt-60: mix($color-primary, white, 60%);
$color-primary-alt-40: mix($color-primary, white, 40%);
$color-primary-alt-20: mix($color-primary, white, 20%);
$color-primary-alt-10: mix($color-primary, white, 10%);
$color-primary-alt-05: mix($color-primary, white, 5%);

$color-secondary-alt-80: mix($color-secondary, white, 80%);
$color-secondary-alt-60: mix($color-secondary, white, 60%);
$color-secondary-alt-40: mix($color-secondary, white, 40%);
$color-secondary-alt-20: mix($color-secondary, white, 20%);
$color-secondary-alt-10: mix($color-secondary, white, 10%);
$color-secondary-alt-05: mix($color-secondary, white, 5%);

$color-black-alt-80: mix($color-black, white, 80%);
$color-black-alt-60: mix($color-black, white, 60%);
$color-black-alt-40: mix($color-black, white, 40%);
$color-black-alt-20: mix($color-black, white, 20%);
$color-black-alt-10: mix($color-black, white, 10%);
$color-black-alt-05: mix($color-black, white, 5%);

$color-warning-alt-80: mix($color-warning, white, 80%);
$color-warning-alt-60: mix($color-warning, white, 60%);
$color-warning-alt-40: mix($color-warning, white, 40%);
$color-warning-alt-20: mix($color-warning, white, 20%);
$color-warning-alt-10: mix($color-warning, white, 10%);
$color-warning-alt-05: mix($color-warning, white, 5%);

$color-success-alt-80: mix($color-success, white, 80%);
$color-success-alt-60: mix($color-success, white, 60%);
$color-success-alt-40: mix($color-success, white, 40%);
$color-success-alt-20: mix($color-success, white, 20%);
$color-success-alt-10: mix($color-success, white, 10%);
$color-success-alt-05: mix($color-success, white, 5%);

$color-danger-alt-80: mix($color-danger, white, 80%);
$color-danger-alt-60: mix($color-danger, white, 60%);
$color-danger-alt-40: mix($color-danger, white, 40%);
$color-danger-alt-20: mix($color-danger, white, 20%);
$color-danger-alt-10: mix($color-danger, white, 10%);
$color-danger-alt-05: mix($color-danger, white, 5%);

$color-highlighted-alt-80: mix($color-highlighted, white, 80%);
$color-highlighted-alt-60: mix($color-highlighted, white, 60%);
$color-highlighted-alt-40: mix($color-highlighted, white, 40%);
$color-highlighted-alt-20: mix($color-highlighted, white, 20%);
$color-highlighted-alt-10: mix($color-highlighted, white, 10%);
$color-highlighted-alt-05: mix($color-highlighted, white, 5%);

$color-info-alt-80: mix($color-info, white, 80%);
$color-info-alt-60: mix($color-info, white, 60%);
$color-info-alt-40: mix($color-info, white, 40%);
$color-info-alt-20: mix($color-info, white, 20%);
$color-info-alt-10: mix($color-info, white, 10%);
$color-info-alt-05: mix($color-info, white, 5%);  

// customs theme ...
$color-map: (
  primary:    $color-primary,
  secondary:  $color-secondary,
  success:    $color-success,
  info:       $color-info,
  warning:    $color-warning,
  danger:     $color-danger,
  light:      $color-white,
  dark:       $color-black,
  gray:       $color-black-alt-80
);

// Material custom color ...
$bit-palette-primary: mat-palette($bit-primary-colors);
$bit-palette-secundary: mat-palette($bit-secundary-colors);
$bit-palette-warn: mat-palette($bit-warn-colors);

$bit-light-theme: mat-light-theme($bit-palette-primary, $bit-palette-secundary, $bit-palette-warn);

@include angular-material-theme($bit-light-theme);
