@mixin deg-main ($direction, $color-top, $color-bottom) {
	background: linear-gradient($direction, $color-top, $color-bottom);
}

@mixin btn-background($btn-background, $color) {
    background-color: $btn-background;
    color: $color;
    &:hover {
        background-color: lighten($color: $btn-background, $amount: 0.5);
        color: $color;
    }
}

// Mixes a color with black to create its shade.
// --------------------------------------------------------------------------------------------
@function get-color-shade($color) {
    @return mix(#000, $color, 12%);
}
  
// Mixes a color with white to create its tint.
// --------------------------------------------------------------------------------------------
@function get-color-tint($color) {
    @return mix(#fff, $color, 10%);
}
  