.font-primary {
	font-family: $font-primary;
}

.font-secondary {
	font-family: $font-secondary;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: $font-primary;
	margin: 0px;
	color: $color-black-alt-60;
}

body {
	font-size: 0.875rem;
	// color: $color-black-alt-60 !important;
}

h1 {
	font-size: 24px !important;
	font-weight: bold;
	// color: $color-black-alt-60 !important;
}

h2 {
	font-size: 20px !important;
	font-weight: bold;
	// color: $color-black-alt-60 !important;
}

h3 {
	font-size: 18px !important;
	font-weight: bold;
	// color: $color-black-alt-60 !important;
}

h4 {
	font-size: 16px !important;
	font-weight: bold;
	// color: $color-black-alt-60 !important;
}

h5 {
	font-size: 14px !important;
	font-weight: bold;
	// color: $color-black-alt-60 !important;
}

h6 {
	font-size: 12px !important;
	font-weight: bold;
	// color: $color-black-alt-60 !important;
}

p {
	font-size: 16px;
	font-family: $font-secondary;
	// color: $color-black-alt-60 !important;
}
