registry=https://nexus.uesiglo21.edu.ar/repository/npm-group/
@s21:registry=https://nexus.uesiglo21.edu.ar/repository/npm-private/
@bitlogic:registry=https://nexus.uesiglo21.edu.ar/repository/npm-private/