@import '~@angular/material/theming';
@include mat-core();

@import "./mixin";

// Theme
// -------------------------------------------------------------------------------------------
// This file contains the theme variables shared
// between modes. This should only include variables
// used to theme the application colors.

// Default Colors
// -------------------------------------------------------------------------------------------
// Color map should provide
// - base: main color to be used.
// - contrast: Color that will provide readable text against the base color
// - shade: 12% darker version of the base color (mix with black)
// - tint: 10% lighter version of the base color (mix with white)

$color-primary:           #005587 !default;
$color-secondary:         #006c5b !default;
$color-tertiary:          #005587 !default;
$color-success:           #0EE1A2 !default;
$color-warning:           #FAA41A !default;
$color-danger:            #dc1351 !default;
$color-highlighted:       #772583 !default;
$color-info:              #005587 !default;
$color-light:             #f4f5f8 !default;
$color-medium:            #92949c !default;
$color-dark:              #222428 !default;
$color-white:             #FFFFFF !default;
$color-black:             #000000 !default;


$bit-primary-colors: (
    tint : get-color-tint($color-primary),
    base : $color-primary,
    shade : get-color-shade($color-primary),
    contrast: (
        tint : #000000,
        base : #ffffff,
        shade : #ffffff,
    )
);

$bit-secondary-colors: (
    tint : get-color-tint($color-secondary),
    base : $color-secondary,
    shade : get-color-shade($color-secondary),
    contrast: (
        tint : #000000,
        base : #ffffff,
        shade : #ffffff,
    )
);

$bit-danger-colors: (
    tint : get-color-tint($color-danger),
    base : $color-danger,
    shade : get-color-shade($color-danger),
    contrast: (
        tint : #000000,
        base : #ffffff,
        shade : #ffffff,
    )
);

// Alternative apha - Colors 
$color-primary-alt-80: mix($color-primary, white, 80%);
$color-primary-alt-60: mix($color-primary, white, 60%);
$color-primary-alt-40: mix($color-primary, white, 40%);
$color-primary-alt-20: mix($color-primary, white, 20%);
$color-primary-alt-10: mix($color-primary, white, 10%);
$color-primary-alt-05: mix($color-primary, white, 5%);

$color-secondary-alt-80: mix($color-secondary, white, 80%);
$color-secondary-alt-60: mix($color-secondary, white, 60%);
$color-secondary-alt-40: mix($color-secondary, white, 40%);
$color-secondary-alt-20: mix($color-secondary, white, 20%);
$color-secondary-alt-10: mix($color-secondary, white, 10%);
$color-secondary-alt-05: mix($color-secondary, white, 5%);

$color-black-alt-80: mix($color-black, white, 80%);
$color-black-alt-60: mix($color-black, white, 60%);
$color-black-alt-40: mix($color-black, white, 40%);
$color-black-alt-20: mix($color-black, white, 20%);
$color-black-alt-10: mix($color-black, white, 10%);
$color-black-alt-05: mix($color-black, white, 5%);

$color-warning-alt-80: mix($color-warning, white, 80%);
$color-warning-alt-60: mix($color-warning, white, 60%);
$color-warning-alt-40: mix($color-warning, white, 40%);
$color-warning-alt-20: mix($color-warning, white, 20%);
$color-warning-alt-10: mix($color-warning, white, 10%);
$color-warning-alt-05: mix($color-warning, white, 5%);

$color-success-alt-80: mix($color-success, white, 80%);
$color-success-alt-60: mix($color-success, white, 60%);
$color-success-alt-40: mix($color-success, white, 40%);
$color-success-alt-20: mix($color-success, white, 20%);
$color-success-alt-10: mix($color-success, white, 10%);
$color-success-alt-05: mix($color-success, white, 5%);

$color-danger-alt-80: mix($color-danger, white, 80%);
$color-danger-alt-60: mix($color-danger, white, 60%);
$color-danger-alt-40: mix($color-danger, white, 40%);
$color-danger-alt-20: mix($color-danger, white, 20%);
$color-danger-alt-10: mix($color-danger, white, 10%);
$color-danger-alt-05: mix($color-danger, white, 5%);

$color-highlighted-alt-80: mix($color-highlighted, white, 80%);
$color-highlighted-alt-60: mix($color-highlighted, white, 60%);
$color-highlighted-alt-40: mix($color-highlighted, white, 40%);
$color-highlighted-alt-20: mix($color-highlighted, white, 20%);
$color-highlighted-alt-10: mix($color-highlighted, white, 10%);
$color-highlighted-alt-05: mix($color-highlighted, white, 5%);

$color-info-alt-80: mix($color-info, white, 80%);
$color-info-alt-60: mix($color-info, white, 60%);
$color-info-alt-40: mix($color-info, white, 40%);
$color-info-alt-20: mix($color-info, white, 20%);
$color-info-alt-10: mix($color-info, white, 10%);
$color-info-alt-05: mix($color-info, white, 5%);  

// Material custom color ...
$bit-palette-primary: mat-palette($bit-primary-colors, base, tint, shade );
$bit-palette-secondary: mat-palette($bit-secondary-colors, base, tint, shade );
$bit-palette-warn: mat-palette($bit-danger-colors, base, tint, shade );

$bit-light-theme: mat-light-theme($bit-palette-primary, $bit-palette-secondary, $bit-palette-warn);

@include angular-material-theme($bit-light-theme);
